In [1]:
import pandas as pd
import gmaps
import requests
#Import api key
from config import g_key

In [2]:
city_data_to_load = "WeatherPy_Challenge.csv"

In [3]:
city_data_df = pd.read_csv(city_data_to_load)
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,San Quintin,MX,2020-04-20 04:32:03,30.48,-115.95,59.00,78,89,15.39,overcast clouds,0.0,0.0
1,1,Hithadhoo,MV,2020-04-20 04:32:04,-0.60,73.08,85.08,74,88,11.41,overcast clouds,0.0,0.0
2,2,Saskylakh,RU,2020-04-20 04:32:04,71.92,114.08,25.97,95,16,3.09,few clouds,0.0,0.0
3,3,Winnemucca,US,2020-04-20 04:32:04,40.97,-117.74,42.80,56,1,3.36,clear sky,0.0,0.0
4,4,Punta Arenas,CL,2020-04-20 04:32:05,-53.15,-70.92,42.80,75,40,28.86,scattered clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,552,Nicoya,CR,2020-04-20 04:30:01,10.15,-85.45,71.01,86,3,10.00,clear sky,0.0,0.0
553,553,Sao Raimundo Nonato,BR,2020-04-20 04:33:06,-9.02,-42.70,70.92,84,55,3.29,broken clouds,0.0,0.0
554,554,Smila,UA,2020-04-20 04:34:40,49.22,31.89,43.77,59,20,15.17,few clouds,0.0,0.0
555,555,Borogontsy,RU,2020-04-20 04:34:41,62.67,131.17,27.09,79,3,3.38,clear sky,0.0,0.0
556,556,Mount Isa,AU,2020-04-20 04:30:51,-20.73,139.50,95.00,14,48,9.17,scattered clouds,0.0,0.0

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
#Get Max Temp
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
#Prompt customer for min/max temp value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
#Rain amount
city_rain_inches = city_data_df["Rain inches (last 3 hrs)"]
inches = []
for inch in city_rain_inches:
    inches.append(min(inch, 0))

In [8]:
#Snow amount
city_snow_inches = city_data_df["Snow inches (last 3 hrs)"]
inches = []
for inch in city_snow_inches:
    inches.append(min(inch, 0))

In [9]:
#Prompt customer for rain
city_rain_inches = input("Do you want it to be raining? (yes/no) ")

Do you want it to be raining? (yes/no) yes

In [10]:
#Prompt customer for snow
city_snow_inches = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be snowing? (yes/no) no

In [11]:
#Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
1,1,Hithadhoo,MV,2020-04-20 04:32:04,-0.60,73.08,85.08,74,88,11.41,overcast clouds,0.00,0.0
7,7,Bubaque,GW,2020-04-20 04:32:05,11.28,-15.83,77.09,68,34,12.24,scattered clouds,0.00,0.0
10,10,Kapaa,US,2020-04-20 04:32:06,22.08,-159.32,78.80,65,75,10.29,broken clouds,0.00,0.0
18,18,Tautira,PF,2020-04-20 04:32:09,-17.73,-149.15,86.00,62,47,2.24,scattered clouds,0.00,0.0
19,19,East London,ZA,2020-04-20 04:32:09,-33.02,27.91,84.20,45,0,11.41,clear sky,0.00,0.0
20,20,Bambous Virieux,MU,2020-04-20 04:32:09,-20.34,57.76,75.20,88,40,11.41,shower rain,0.00,0.0
23,23,Kavieng,PG,2020-04-20 04:32:10,-2.57,150.80,84.74,71,57,5.41,light rain,0.65,0.0
26,26,Avarua,CK,2020-04-20 04:32:11,-21.21,-159.78,80.60,74,4,9.17,clear sky,0.00,0.0
30,30,Jiwani,PK,2020-04-20 04:32:13,25.05,61.74,83.35,64,5,6.49,clear sky,0.00,0.0
35,35,Vaini,TO,2020-04-20 04:32:14,-21.20,-175.20,82.40,74,75,8.05,broken clouds,0.00,0.0

In [12]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Current Description"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Hithadhoo,MV,85.08,-0.60,73.08,overcast clouds,
7,Bubaque,GW,77.09,11.28,-15.83,scattered clouds,
10,Kapaa,US,78.80,22.08,-159.32,broken clouds,
18,Tautira,PF,86.00,-17.73,-149.15,scattered clouds,
19,East London,ZA,84.20,-33.02,27.91,clear sky,
20,Bambous Virieux,MU,75.20,-20.34,57.76,shower rain,
23,Kavieng,PG,84.74,-2.57,150.80,light rain,
26,Avarua,CK,80.60,-21.21,-159.78,clear sky,
30,Jiwani,PK,83.35,25.05,61.74,clear sky,
35,Vaini,TO,82.40,-21.20,-175.20,broken clouds,

In [13]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
#Iterate through dataframe
for index, row in hotel_df.iterrows():
    #Get the lat and lng
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the lat and lng to location key for params dictionary
    params["location"]= f"{lat},{lng}"
    
    #Use search term: "Lodging" and our lat and long.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Hithadhoo,MV,85.08,-0.60,73.08,overcast clouds,Scoop Guest House
7,Bubaque,GW,77.09,11.28,-15.83,scattered clouds,Casa Dora
10,Kapaa,US,78.80,22.08,-159.32,broken clouds,Sheraton Kauai Resort at Coconut Beach
18,Tautira,PF,86.00,-17.73,-149.15,scattered clouds,Pension Oaoa
19,East London,ZA,84.20,-33.02,27.91,clear sky,Tu Casa
20,Bambous Virieux,MU,75.20,-20.34,57.76,shower rain,Casa Tia Villa
23,Kavieng,PG,84.74,-2.57,150.80,light rain,Nusa Island Retreat
26,Avarua,CK,80.60,-21.21,-159.78,clear sky,Paradise Inn
30,Jiwani,PK,83.35,25.05,61.74,clear sky,Al Mumtaz Transport Jiwani
35,Vaini,TO,82.40,-21.20,-175.20,broken clouds,Keleti Beach Resort

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dt><dd>and<dd>{Max Temp} Â°F</dd>
</dl>
"""

In [18]:
#Store DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
locations = hotel_df[["Lat", "Lng"]]
cities = hotel_df["City"]
current_weather = hotel_df["Max Temp"]
country = hotel_df["Country"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Add the data to a new dataframe
hotel_complete_df =pd.DataFrame(hotel_df)
hotel_complete_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Hithadhoo,MV,85.08,-0.60,73.08,overcast clouds,Scoop Guest House
7,Bubaque,GW,77.09,11.28,-15.83,scattered clouds,Casa Dora
10,Kapaa,US,78.80,22.08,-159.32,broken clouds,Sheraton Kauai Resort at Coconut Beach
18,Tautira,PF,86.00,-17.73,-149.15,scattered clouds,Pension Oaoa
19,East London,ZA,84.20,-33.02,27.91,clear sky,Tu Casa
20,Bambous Virieux,MU,75.20,-20.34,57.76,shower rain,Casa Tia Villa
23,Kavieng,PG,84.74,-2.57,150.80,light rain,Nusa Island Retreat
26,Avarua,CK,80.60,-21.21,-159.78,clear sky,Paradise Inn
30,Jiwani,PK,83.35,25.05,61.74,clear sky,Al Mumtaz Transport Jiwani
35,Vaini,TO,82.40,-21.20,-175.20,broken clouds,Keleti Beach Resort

In [21]:
#Save DataFrame as a new CSV file
output_data_file = "WeatherPy_vacation.csv"
#Export into a csv
hotel_complete_df.to_csv(output_data_file, index_label="City_Id")